body {
    font-family: Arial, Helvetica, sans-serif;
}
.inner-container,
section {
    padding: 1rem;
}

/* typography */



/* header */

/* to do: create a sticky header that will scroll until the nav links hit the top of the viewport */

header {
    position: sticky;
    top: 0;
    background-color: black;
}
header svg {
    width: 4.6875rem;
    fill: white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}
.menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0 0.5rem;
}
.menu a:hover,
.menu a:active {
    color: peachpuff;
}
.menu li {
    line-height: 2.1875rem;
    text-align: center;
    flex: 1 0 50%;
}


/* body */
h2,
h3 {
    color: peachpuff;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 200;
}
h3 {
    font-size: 2.5rem;
}
p {
    margin-bottom: 1.5rem;
}

/* form */
fieldset {
    border: none;
}
label {
    display: block;
    text-transform: uppercase;
    font-size: 1.85rem;
}
form div {
    margin-bottom: 1.5rem;
}
input,
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #e8e8e8;
}
textarea {
    resize: vertical;
    min-height: 18.75rem;
}


input[type=checkbox]{
    box-shadow: none;
    width: 24px;
    height: 24px;
}
.accept {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


input[type=submit] {
    background-color: white;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 1.875rem;
}
input[type=submit]:hover {
    cursor: pointer;
    color: peachpuff;
    padding-left: 20px;
    transition: padding-left 1s ease;
}

@media only screen and (min-width: 450px) { 
    .menu li {
        flex: 0 0 auto;
        /* auto = keyword for default content width */
    }
}


@media only screen and (min-width: 1260px) {
    .inner-container,
    section {
        max-width: 1200px;
        padding: 1rem 0;
        margin: 0 auto;
    }
    fieldset {
        max-width: 40%;
        gap: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
/* to do: on MQ adjust & layout the form to 2 equal columns */

/* 50% with a gap inside */



    
}